<footer id="bottom">
    <div id="footer-wrapper">
        <div id="footer-left">
            <h3><i class="fa-solid fa-messages-question"></i> &nbsp;Hjelp</h3>
            <a href="#">Kontakt oss</a>
        </div>
        <div id="footer-middle">
            <h3><i class="fa-solid fa-circle-info"></i> &nbsp;Informasjon</h3>
            <a href="#">Informasjon til bedrifter</a><br />
            <a href="#">Annonseregler</a>
        </div>
        <div id="footer-right">
            <h3><i class="fa-solid fa-shield-halved"></i> &nbsp;Personvern</h3>
            <a href="#">Personvernsærklering</a><br />
            <a href="#">Brukervilkår</a>
            <p>&#169; <%= routeConfig.siteConfig.siteName %> 2022</p>
        </div>
    </div>
</footer>
