<head>
    
    <!-- Meta tags and title -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= routeConfig.pageConfig.description %>" />
    <title><%= routeConfig.siteConfig.siteName %> - <%= routeConfig.pageConfig.title %></title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Font awesome pro -->
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css" />

    <!-- Stylesheets & CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/flickity.css" />

    <!-- Scripts -->
    <script src="/scripts/flickity.min.js"></script>

</head>
