<!DOCTYPE html>
<html lang="nb">
<%- include('partials/head'); %>

<body id="indexPage">
    <div id="grid-container">
        <%- include('partials/navbar'); %>

        <main>
            <section class="colored">
                <div class="text-image">
                    <div>
                        <h1><i class="fa-solid fa-car"></i> Trenger du bil?<br> ...eller kanskje ikke?</h1>
                        <p>Trenger du bil for en liten periode, kanskje for å hente en stor pakke, møte familien for middag eller dra til hytta? Eller er du kanskje en som ikke bruker bilen i helgene? Vi har muligheter uansett. Enten du er på utkikk etter å leie en bil i en kortere periode, eller om du vil tjene litt ekstra penger på bilen som bare står i garasjen.</p>
                        <p>Dette er en tjeneste hvor privatpersoner kan finne biler å leie, eller leie ut egne biler. Vi ordner det komplekse og gjør det lett for begge parter, så man heller kan fokusere på viktigere ting. Trykk på knappen under for å utforske.</p>
                        <button type="button">
                            <a href="/login">Registrer deg eller logg inn &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                        </button>
                    </div>
                    <img src="/uploads/mainPageCoverImage.webp" alt="">
                </div>
            </section>

            <section>
                <div class="image-text">
                    <img src="/uploads/marketplaceImage.webp" alt="">
                    <div>
                        <h2><i class="fa-solid fa-truck-pickup"></i> Finn bilen du trenger. <br>I dag, i morgen eller neste uke.</h2>
                        <p>Blitt inviterte til hyttetur med venner, men har ikke bil? Ikke noe problem lenger. Slipp å tenke på å styre med dårlig kollektivtilbud eller finne en dyr bilutleier, og lei heller en bil i nærheten av deg. Det er som regel bedre for lommeboka også.</p>
                        <p>Liten bil, stor bil, miljøvennlig bil, bil med henger, rask bil, det er helt opp til deg. Vi hjelper deg finne den perfekte leiebilen for dine behov. Filtrer på antall seter, bilmerke, drivstofftype, eller til og med lokasjon for å vise de mest relevante tilbudene. Skaff en enkel oversikt over tilbudene i nærheten av deg, og trykk inn på annonsen for å se flere detaljer. Når du har funnet den bilen du trenger, er det bare en knapp for å ordne resten.</p>
                        <p>Ønsker du å leie ut bilen din istedenfor? Vi har verktøy tilgjengelig for å gjøre prosessen så lett som mulig. Ingen kunnskap kreves, og du er klar på null komma niks.</p>
                        <button type="button">
                            <a href="/adverts">Sjekk ut annonser &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                        </button>
                    </div>
                </div>
            </section>

            <section class="colored">
                <div class="text-image">
                    <div>
                        <h2><i class="fa-solid fa-gauge-max"></i> Avtaler, fort og enkelt.<br> Uten problemer. </h2>
                        <p>Når du har funnet bilen du ønkser å leie, er det bare å melde interesse. Det gjør du ved å velge tidsrom du ønsker å leie i og trykke på knappen for å sende forespørsel. Brukeren som eier bilen vil bli varslet, og svare og komme med en avtale. Har du mottatt en avtale, og alt ser greit ut, er det bare å signere, så er alt i orden.</p>
                        <p>Skulle det være noen spørsmål, enten før eller underveis, kan man alltid sende en melding. Vårt system fjerner kompleksiteten rundt avtalen og handelen, og skaper sikkerhet for begge parter.</p>
                        <p>Hva venter du på? Trykk på knappen under for å komme i gang, da!</p>
                        <button type="button">
                            <a href="/adverts/new">Kom i gang nå &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                        </button>
                    </div>
                    <img src="/uploads/messagesImage.webp" alt="">
                </div>
            </section>
        </main>

        <%- include('partials/footer'); %>
    </div>
</body>

</html>
