#loginPage {
    #grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'nav'
            'main'
            'footer';
        column-gap: 2rem;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        column-gap: 3rem;
        h1 {
            flex-basis: 100%;
        }
        form {
            flex-grow: 1;
        }
        div {
            flex-grow: 1;
            h4 {
                margin:auto 0;
            }
            article {
                padding: 0;
                p:not(:last-child) {
                    margin: 0;
                }
                p:not(:first-child) {
                    margin-top: 0;
                }
            }
        }
    }

    .login-form, .registration-form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        button {
            padding: 0.5rem;

            &[type='submit'] {
                margin-top: 1rem;
                display: block;
            }
        }

        input,
        select {
            min-width: 10rem;
            width: fit-content;
        }
    }
}

@media only screen and (min-width: 1000px) {
    #loginPage {
        #grid-container {
            grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                'header header header header header header'
                'nav nav nav nav nav nav'
                'main main main main main main'
                'footer footer footer footer footer footer';
        }
    }
}

@media only screen and (min-width: 1400px) {
    #loginPage {
        #grid-container {
            grid-template-areas:
                'header header header header header header'
                'nav nav nav nav nav nav'
                '. main main main main .'
                'footer footer footer footer footer footer';
        }
    }
}

@media only screen and (min-width: 2000px) {
    #loginPage {
        #grid-container {
            grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
            grid-template-areas:
                'header header header header header header'
                'nav nav nav nav nav nav'
                '. main main main main .'
                'footer footer footer footer footer footer';
        }
    }
}
